.section {
    background-color: plum;
    padding: 1rem;
    margin: 1rem;
}

.paragraph {
    background-color: azure;
    padding: 1rem;
}

.paragraph.dragging {
    opacity: 0.3;
}

.ghostImage {
    width: 150px;
    height: 100px;
    background-color: azure;
    position: absolute;
    left: -100vw;
}

.binImg {
    display: flex;
    justify-content: center;
}

.bin {
    margin: 10px 10px;
    width: 100px;
    height: 100px;
}