@use "./variables";
@use "./mixins";

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px #ddd;
}

.logo img {
    max-width: 7rem;
    cursor: pointer;
}

.sec-home {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.section-display();

    .home-cta {
        flex: 1;
        .cta-text {
            color: variables.$main-color;
        }
        span {
            font-weight: 500;
        }
        .home-title {
            margin-top: 0.5rem;
            width: 20rem;
            font-size: 42px;
            font-weight: 500;
            line-height: 1.15;
        }
        .home-description {
            width: 300px;
        }
    }
    input {
        box-shadow: none !important;
    }
    .home-img {
        img {
            height: 434px;
            width: 100%;
            min-width: 400px;
        }
    }
}

.sec-features {
    @include mixins.section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        text-align: center;

        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 0.8rem;
            color: #888;

        }
    }
    .features {
        display: flex;
        justify-content: center;
        align-items: center;
        // gap: 1rem;
        .text {
            padding: 2rem 0;
            max-width: 40%;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .description {
                    margin-left: 1rem;
                    .title-description {
                        font-size: 1rem;
                    }
                    .text-description {
                        font-size: 0.7rem;
                        color: #888;
                        font-weight: 300;
                    }
                }
            }
        }
        .img-section {
            margin-left: 1rem;
            img {
                width: 100%;
                max-width: 30rem;
            }
        }
    }
}

.sec-benefits {
    border-top: 1px solid #ddd;
    .intro {
        @extend .sec-features, .intro;
        margin-bottom: -24px;
        p {
            color: #888;
        }
    }
    .benefits-cards {
        width: 100%;
        padding: 0 2rem 2rem 2rem;
    }
}

.sec-kpis {
    background-color: variables.$main-color;
    width: 100%;
    color: white;
    padding: 4rem;
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-size: 3rem;
            font-weight: 500;
        }
        .desc {
            font-size: 0.8rem;
            color: #ffffffaa;
        }

    }
}

.sec-onboarding {
    .intro {
        @extend .sec-features, .intro;
        margin-bottom: -24px;
        p {
            color: #888;
        }
    }
    .steps {
        padding: 0 7rem 5rem 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .step-separator {
            flex: 1;
            border-top: 2px solid #ddd;
            margin: 0 1rem;
        }
    }
}

.sec-footer-cta {
    background-color: variables.$footer-color;
    padding: 5rem;
    background-image: url("../assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta {
        width: 50%;
        .cta-title {
            font-size: 2rem;
        }
        .cta-description {
            font-size: 1.1rem;
        }
    }   
}

@media (max-width: 768px) {
    .sec-features {
        .intro {
            h3 {
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .sec-benefits {
        .intro {
            text-align: center;
        }
        h3 {
            font-size: 2rem;
        }
    }
    
    .sec-onboarding {
        .intro {
            text-align: center;
        }
        h3 {
            font-size: 2rem;
        }
        .steps {
            flex-direction: column;
            .icon-desc {
                .tile {
                    text-align: center;
                }
            }
        }
    }

    .sec-footer-cta {
        background-image: none;
        .footer-cta {
            width: 100%;
            text-align: center;
        }
    }
}