@use "./variables";

@mixin btn-base {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 4rem;
}