body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transform: translateY(-5px);
}

.btn-modern {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(73, 73, 253);
    border-bottom: 2px solid rgb(4, 4, 130);
    cursor: pointer;
    transition: bacground-color 400ms;
    font-family: 'Courier New', Courier, monospace;
}

.btn-modern:hover {
    color: whitesmoke;
    background-color: rgb(4, 4, 130);
}